@import-normalize;

:root {
  /* background */
  --bg-primary: #fbfbfb;
  --bg-color: #f3f3f3;
  --bg-secondary: #103931;
  --bg-color-accent: rgba(16, 57, 49, 0.2);

  /* text */
  --color-text-primary: rgba(17, 16, 28, 0.5);
  --color-text-accent: #11101c;
  --color-text-secondary: #fbfbfb;

  /* border */

  /* transition */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: local('Inter'),
    url('./fonts/regular/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('./fonts/regular/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('./fonts/regular/HelveticaNeueCyr-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 500;
  src: local('Inter'),
    url('./fonts/medium/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('./fonts/medium/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('./fonts/medium/HelveticaNeueCyr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 700;
  src: local('Inter'),
    url('./fonts/bold/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('./fonts/bold/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('./fonts/bold/HelveticaNeueCyr-Bold.ttf') format('truetype');
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-primary);
  color: var(--color-text-primary);
}

code {
  font-family: 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: block;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  line-height: 0;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 152px 50px 100px 50px;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 152px 128px 100px 128px;
  }
}

.header-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 50px;
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
    padding: 20px 128px;
  }
}

input::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  padding-right: 8px;
}

.nanny-page {
  background-color: #f3f3f3;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='time'] {
  border: none;
  color: rgba(17, 16, 28, 0.3);
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 180px;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type='time']::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type='time']::-webkit-datetime-edit-text {
  padding: 19px 4px;
  border: none;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type='time']::-webkit-datetime-edit-hour-field {
  background-color: #fff;
  padding: 19px 13px;
  color: #11101c;
  border: none;
}

/* Minute */
input[type='time']::-webkit-datetime-edit-minute-field {
  background-color: #fff;
  border: none;
  padding: 19px 13px;
  color: #11101c;
}

/* AM/PM */
input[type='time']::-webkit-datetime-edit-ampm-field {
  background-color: #fff;
  border: none;
  color: #11101c;
  padding: 19px 13px;
}

/* 'X' button for resetting/clearing time */
input[type='time']::-webkit-clear-button {
  display: none;
}

/* Up/Down arrows for incrementing/decrementing the value */
input[type='time']::-webkit-inner-spin-button {
  display: none;
}
